<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
  <title>Luanti Mods Feed</title>
  <link>https://bas080.github.io/luanti_mods/</link>
  <description>Latest Luanti mods from Github, Gitlab, and Codeberg</description>
  <image>
    <url>https://bas080.github.io/luanti_mods/favicon.png</url>
    <title>Luanti Mods Feed</title>
    <link>https://bas080.github.io/luanti_mods/</link>
  </image>

  {{#items}}
  <item>
    <title>{{repo_name}} ({{hosted_on}})</title>
    <link>{{{html_url}}}</link>
    <guid>{{{html_url}}}</guid>
    <description><![CDATA[
      {{#avatar_url}}
      <img src="{{{avatar_url}}}" alt="Author avatar" width="32" height="32" style="vertical-align:middle;margin-right:5px;" />
      {{/avatar_url}}
      <strong>{{author}}</strong><br>
      {{description}}<br>
      License: {{license.name}}<br>
      <a href="{{{zip_url}}}">Download ZIP</a><br>
      {{#image_raw}}
      <img src="{{{image_raw}}}" alt="Mod screenshot" style="max-width:100%;margin-top:5px;" />
      {{/image_raw}}
    ]]></description>
    {{#image_raw}}
    <enclosure url="{{{image_raw}}}" type="image/png" />
    {{/image_raw}}
    <pubDate>{{updated_at}}</pubDate>
  </item>
  {{/items}}
</channel>
</rss>
